<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.0/jquery.validate.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}" />
  

  <title>{{college.capitalize()}} {{meal_time}} Menu</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />
  <link rel="stylesheet" href="{{ url_for('static', filename='css/header.css') }}" />
  <link rel="stylesheet" href="{{ url_for('static', filename='css/food.css') }}" />
  <link rel="stylesheet" href="{{ url_for('static', filename='css/reactions.css') }}" />
  <link rel="stylesheet" href="{{ url_for('static', filename='css/footer.css') }}" />
  <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Lato" />

  <script>
    $(document).ready(function(){
        function alignModal(){
            var modalDialog = $(this).find(".modal-dialog");

            // Applying the top margin on modal to align it vertically center
            modalDialog.css("margin-top", Math.max(0, ($(window).height() - modalDialog.height()) / 2));
        }
        // Align modal when it is displayed
        $(".modal").on("shown.bs.modal", alignModal);

        // Align modal when user resize the window
        $(window).on("resize", function(){
            $(".modal:visible").each(alignModal);
        });   
    });
  </script>
  
</head>

<body>
  <nav class="navbar sticky-top navbar-expand-lg navbar-light bg-primary">
    <div class="container-fluid">
       <a class="navbar-brand fs-4" href="index"><img src="https://i.imgur.com/AufcPrM.png" width="auto" height="50"> TigerTooth</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a class="nav-link active fs-6 me-2" aria-current="page" href="/reactions?college={{college}}">View
              {{college.capitalize()}} Reactions</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active fs-6" aria-current="page" href="/history">Your Reviews</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <div class="food-dhall-title">
    <h1>{{college.capitalize()}} {{meal_time}}</h1>
  </div>
  {% if foods|length == 0: %}
  {% else: %}

  <!-- For large devices like laptops -->
  <div class="card-group mx-5 text-center justify-content-center mb-4">
      {% for food in foods: %}
      <div class="card mx-auto mx-sm-3 my-3 rounded" style="min-width: 16rem; max-width: 16rem;">
        {% if food[0] is none: %}
        <a href="/foodimg-submit?api_id={{food[5]}}&college={{college}}"><img src="" alt="Submit a Photo Here!"
            class="img-fluid rounded card-img-top" style="min-height: 11rem; max-height: 11rem;"></a>
        {% else: %}
        <a href="/food-desc?food_id={{food[4]}}&college={{college}}"><img src="{{food[0]}}" alt="No photo"
            class="img-fluid rounded card-img-top" style="min-height: 11rem; max-height: 11rem;"></a>
        {% endif %}
        <div class="card-body">
          <h5 class="card-title">
            <a href="/food-desc?food_id={{food[4]}}&college={{college}}" style="color: inherit;">{{food[1]}}</a>
          </h5>
          {% if food[2] == 0 %}
          <p class="card-text">Rating: No Rating Yet!</p>
          {% else: %}
          <p class="card-text">Rating: {{(food[3]/food[2])|round(1)}}</p>
          {% endif %}
        </div>
      </div>
      {% endfor %}
  </div>
  {% endif %}
  
  <div class = "container-fluid">
    <div style="display: flex; align-items: center; justify-content: center">
      <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#reactions">
        See reactions!
      </button>
    </div>
    <div class="modal fade" data-backdrop="false" id="reactions" tabindex="-1" role="dialog" aria-labelledby="reactionsTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-lg" style="max-height: 60vh" role="document">
        <div class="modal-content">
          <div class="modal-header" style = "text-align:center; vertical-align:middle">
            <h3 class="modal-title" id="reactionsTitle">Reactions</h3>
          </div>
          <div class="modal-body">
            {% if rows|length == 0: %}
            {% else: %}
              <div class="container-fluid">
                <div class="row" id="error-box">
                  <div class="col-1"></div>
                  <div class="col-10 pl-1 pr-1"
                    style="border:2px solid #000000; border-radius: 0.4rem; min-height: 57vh; max-height:57vh; overflow: auto">
                    {% for row in rows: %}
                      {% if row[1] != "" %}
                        <div class="row align-items-center">
                          {% if row[2] == username %}
                            <div class="col-4 pt-2 pb-2" style="font-size: 16px;">
                              <div class = "mymessagetime" style = "padding-left: 10px; padding-bottom:10px"> {{row[4]}} </div>
                            </div>
                            <div class="col-8 pt-2 pb-2" style="font-size: 16px;">
                              <div class="mymessage pBox">{{row[1]}}</div>
                            </div>
                          {% else: %}
                            <div class="col-8 pt-2 pb-2" style="font-size: 16px;">
                              <div class="message pBox">{{row[1]}}</div>
                            </div>
                            <div class="col-4 pt-2 pb-2" style="font-size: 16px">
                              <div class = "messagetime" style = "padding-right: 10px; padding-bottom:10px"> {{row[4]}} </div>
                            </div>
                          {% endif %}
                        </div>
                      {% endif %}
                    {% endfor %}
                  </div>
                  <div class="col-1"></div>
                </div>
              </div>
            {% endif %}
            <br>
            <div class="container-fluid">
              <div class="row">
                <form action="reactions" method="POST" class="reactions-form" id="form1">
                  <div class="controls">
                    <div class="row">
                      <div class="col-2 col-md-3"></div>
                      <div class="col-8 col-md-6">
                        <div class="form-group">
                          <textarea name="reaction" class="form-control" placeholder="Enter your reaction here!" rows="3"
                            cols="30" required></textarea>
                        </div>
                      </div>
                      <div class="col-2 col-md-3"></div>
                    </div>
                    <br>
                    <div class="row">
                      <div class="col-sm">
                        <input type="submit" class="btn btn-primary btn-send" value="React!" id="submit_but">
                        <input type="hidden" name="college" value="{{college}}">
                      </div>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
          <div class="modal-footer" style="display: flex; align-items: center; justify-content: center">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br>
  <br>
 

  <script type=text/javascript>
    $(document).ready(function() {
      $('#form1').validate({
        errorClass: "error fail-alert",
        messages : {
          reaction: {
          required: "Please enter a reaction!",
          }
        }
      });
      // $SCRIPT_ROOT = {{ request.script_root | tojson | safe }};
      // longPoll();
    });
    
    $(submit_but).onclick(function (){
      longPoll();
    })

    function longPoll() {
        $.ajax({
          url: $SCRIPT_ROOT + "/reactions",
          success: function (data) {
            $('#message-box').html(data);
          },
          error: function (err) {
            $('#error-box').prepend('Error retrieving new messages..');
          },
          type: "GET",
          dataType: "json",
          complete: longPoll,
          timeout: 60000 // timeout every one minute
        });
      }
  </script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf"
    crossorigin="anonymous"></script>
</body>

</html>
