<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.0/jquery.validate.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  
  <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}" />
  <link rel="stylesheet" href="{{ url_for('static', filename='css/rateit.css') }}" />


  <title>{{college.capitalize()}} {{meal_time}} Menu</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />
  <link rel="stylesheet" href="{{ url_for('static', filename='css/food.css') }}" />
  <link rel="stylesheet" href="{{ url_for('static', filename='css/reactions.css') }}" />
  <link rel="stylesheet" href="{{ url_for('static', filename='css/reviews.css') }}" />
  <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Lato" />

  <script>
    $(document).ready(function () {
      function alignModal() {
        var modalDialog = $(this).find(".modal-dialog");

        // Applying the top margin on modal to align it vertically center
        modalDialog.css("margin-top", Math.max(0, ($(window).height() - modalDialog.height()) / 2));
      }
      // Align modal when it is displayed
      $(".modal").on("shown.bs.modal", alignModal);

      // Align modal when user resize the window
      $(window).on("resize", function () {
        $(".modal:visible").each(alignModal);
      });
    });
  </script>

  <script>history.scrollRestoration = "manual"</script>

</head>

<body>
  <!-- Navbar Code -->
  <nav class="navbar navbar-expand-lg navbar-light bg-primary">
    <div class="container-fluid">
      <a class="navbar-brand fs-2" href="dhall"><img src="https://i.imgur.com/AufcPrM.png" width="auto" height="60">
        TigerTooth</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a class="nav-link active fs-3 me-3" aria-current="page" href="/history">Your Reviews</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- Food Page Title Message -->
  <div class="food-dhall-title" id="food_title">
    <h1>{{college.capitalize()}} {{meal_time}}</h1>
  </div>

  <!-- View Reactions Button -->
  <div class="container mb-4">
    {% if hour > 4 and hour < 24 %}
    <div style="display: flex; align-items: center; justify-content: center">
      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#reactions" id="show_hide">
        View Reactions!
      </button>
    </div>
    {% endif %}

    {% if username == "saml\n" or username == "sumanthm\n" or username == "dsliu\n" or username == "whchang\n" or username == "rdondero\n" %}
    <div class="row text-center">
      <div class="col">
        <button class="btn bttn rounded mt-2" style="color: #fff" name="add_photo" value="{{api_ids}}">
          Scrape Food Images
        </button>
      </div>
    </div>
    {% endif %}
  </div>


  <!-- Cards for Displaying All the Dining Hall Food -->
  {% if foods|length == 0: %}
  {% else: %}
  <!-- For large devices like laptops -->
  <div class="card-group mx-5 text-center justify-content-center mb-4" id="card_group">
    {% for food in foods: %}
    <div class="card mx-auto mx-sm-3 my-3 rounded" style="min-width: 16rem; max-width: 16rem;">
      <div style="cursor: pointer">
        <img src="{{food[0]}}" alt="No photo" class="img-fluid rounded card-img-top"
          style="min-height: 11rem; max-height: 11rem;" name="food_img" id="{{food[4]}}">
      </div>
      <div class="card-body">
        <h5 class="card-title">
          <div style="color: inherit; cursor: pointer;" name="food_name" id="{{food[4]}}">
            {{food[1]}}
          </div>
        </h5>
        {% if food[2] == 0 %}
        <p class="card-text" id="{{food[4]}}s">Rating: No Rating Yet!</p>
        {% else: %}
        <p class="card-text" id="{{food[4]}}s">Rating: {{(food[3]/food[2])|round(1)}}</p>
        {% endif %}
        <button class="btn bttn rounded" style="color: #fff" name="review_but" value="{{food[4]}}">
          Submit a Review
        </button>
        {% if username == "saml\n" or username == "sumanthm\n" or username == "dsliu\n" or username == "whchang\n" or username == "rdondero\n" %}
        <button class="btn bttn rounded mt-2" style="color: #fff" name="del_photo" value="{{food[4]}}">
          Delete Food Image
        </button>
        {% endif %}
      </div>
    </div>
    {% endfor %}
  </div>
  {% endif %}

  <!-- Code for the reviews popping up at bottom here -->
  <span id="reviews-generate"></span>

  <!-- Code for modals for reactions -->
  <div class="container-fluid">
    <div class="modal fade" data-backdrop="false" id="reactions" tabindex="-1" role="dialog" aria-labelledby="reactionsTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header" style="text-align:center; vertical-align:middle">
            <h5 class="modal-title" id="reactionsTitle">Reactions</h5>
            <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close" id="modal_but">
              <span aria-hidden="true"></span>
            </button>
          </div>
          <div class="modal-body">
          <div class="container-fluid">
            <div class="row text-center mb-3">
              <i>Express your feelings about {{college.capitalize()}} {{meal_time}} to help Princeton students decide where to eat!</i>
            </div>
            <div class="row" id="message-box">
            </div>
          </div>
          
          <br>
          <div class="container-fluid">
            <div class="row">
              <form action="reactions" method="POST" class="reactions-form" id="formR">
                <div class="controls">
                  <div class="row">
                    <div class="col-1 col-sm-2"></div>
                    <div class="col-10 col-sm-8">
                      <div class="form-group">
                        <textarea name="reaction" class="form-control" placeholder="Enter your reaction here!" rows="2"
                          cols="30" id="reactions-text" required style = "font-size:16px" ></textarea>
                      </div>
                      <div class="col-2"></div>
                    </div>
                    <div class="col-1 col-sm-2"></div>
                  </div>
                  <br>
                    <div class="row">
                      <div class="col-sm">
                        <input type="submit" class="btn btn-primary btn-send" value="React" id="submit_but">
                        <input type="hidden" id="collegeid" name="college" value="{{college}}">
                      </div>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.0/jquery.validate.min.js"></script>
  <script src="{{ url_for('static', filename='js/jquery.rateit.min.js') }}"></script>

  <script type=text/javascript>
      'use strict';
      var firstTime = false;

      $(document).ready(function() {
        // Scrape Food Image
        $("[name='add_photo']").click(function () {
          let reqData = {
            api_ids: $(this).val(),
            college: $("[name='college']").val(),
          };

          $.ajax(
          {
            type: 'POST',
            url: "/scrape",
            data: reqData,
            success: function(response) {
              location.reload(true);
            },
            error: function(err) {
              console.log(err);
            },
          });
        });

        // Delete Food Image
        $("[name='del_photo']").click(function () {
          let reqData = {
            food_id: $(this).val(),
            college: $("[name='college']").val(),
          };

          $.ajax(
          {
            type: 'POST',
            url: "/delete",
            data: reqData,
            success: function(response) {
              location.reload(true);
            },
            error: function(err) {
              console.log(err);
            },
          });
        });
        
        // Reviews Generation Code when Submit a Review Button is Clicked
        $("[name='review_but']").click(function () {
          let reqData = {
            food_id: $(this).val(),
            college: $("[name='college']").val(),
          };
          console.log(reqData);

          $.ajax(
          {
            type: 'GET',
            url: "/food-desc",
            data: reqData,
            success: function(response) {
              $('#reviews-generate').html(response);
              $('div.rateit, span.rateit').rateit();
              $.ajax(
                {
                  type: 'GET',
                  url: "/food-updates",
                  data: reqData,
                  success: function(response) {
                    $('#reviews-box').html(response['reviews']);
                  },
                  error: function(err) {
                    console.log(err);
                  },
                });
              document.getElementById("reviews-generate").scrollIntoView({ behavior: 'smooth', block: 'start' });
            },
            error: function(err) {
              console.log(err);
            },
          });
        });

        // Grabbing and Updating Reviews Box Code
        $("#reviews-generate").on("submit", "#form1", function(event) {
            console.log("In here");
            let formData = {
              rate: $('#star_rating').rateit('value'),
              review: $("#reviews-text").val(),
              food_id: $("[name='food_id']").val(),
            };

            // Set the Valid Flag to True if one RadioButton from the Group of RadioButtons is checked.
            let star_value = $('#star_rating').rateit('value');
            console.log(star_value);
            let isValid = true;
            if (star_value == 0) {
              isValid = false;
            }

            // Display error message if no star is selected.
            if (isValid) {
              console.log("Submit button clicked")
              $.ajax({
                type: "POST",
                url: "/food-updates",
                data: formData,
              }).done(function (data) {
                console.log(data);
                $('#reviews-text').val('');
                $('#star_rating').rateit('reset');

                let reqData = {
                  food_id: $("[name='food_id']").val(),
                  college: $("[name='college']").val(),
                };

                $.ajax(
                  {
                    type: 'GET',
                    url: "/food-updates",
                    data: reqData,
                    success: function(response) {
                      $('#rating-box > p').html(response['food_rating']);
                      $('#reviews-box').html(response['reviews']);
                      $('#' + reqData['food_id'] + 's').html(response['food_rating']);
                    },
                    error: function(err) {
                      console.log(err);
                    },
                  }
                );
              }).catch(function (err) {
                console.log(err);
              });
  
              event.preventDefault();
            }
            else {
              event.preventDefault();
              $("#spnError")[0].style.display = "block";
              return false;
            }
        });

        // Submit ratings and reviews when enter key is pressed
        $("#reviews-generate").on("keypress", "#reviews-text", function(e) {
          if (e.which == 13) {
            $('#form1').submit();
            return false;
          }
        });

        $("#reviews-generate").on("change", "#backing15", function() {
          console.log("Star value changed");
          let star_value = $('#star_rating').rateit('value');
          console.log(star_value);
          $("#spnError")[0].style.display = "none";
        });

        $('#show_hide').click(function() {
          firstTime = true;
          longPoll();
        });

        // Clear reactions textarea box when user closes modal
        $("#modal_but").click(function () {
          $('#reactions-text').val('');
        });

        // Reactions Box Code
        $('#formR').validate({
          errorClass: "error fail-alert",
          messages : {
            reaction: {
            required: "Please enter a reaction!",
            }
          }
        });

        $("#formR").submit(function (event) 
        {
            var d = new Date();
            d.toLocaleString('en-US', { timeZone: 'America/New_York' });
            let hour = d.getHours();

            if (hour > 4 && hour < 24) {
              console.log("in this form submission")
              let formData = {
                reaction: $("#reactions-text").val(),
                college: $("#collegeid").val(),
              };
              
              if (formData.reaction != '') {
                $.ajax({
                  type: "POST",
                  url: "/reactions",
                  data: formData,
                }).done(function (data) {
                  console.log(data);
                  $('#reactions-text').val('');
                }).catch(function (err) {
                  console.log(err);
                });

                event.preventDefault();
              }
            }

            event.preventDefault();
        });

        // Submit reactions when enter key is pressed
        $('#reactions-text').keypress(function (e) {
          if (e.which == 13) {
            $('#formR').submit();
            return false;
          }
        });

        // Pre-generate the reactions on load before view reactions is clicked
        getReactions();
      });

      // Generate ratings and reviews when food image or name is clicked
      $(document).on('click', "[name='food_name'], [name='food_img']", function(e) {
        let reqData = {
          food_id: $(this).attr('id'),
          college: $("[name='college']").val(),
        };
        console.log(reqData);

        $.ajax(
        {
          type: 'GET',
          url: "/food-desc",
          data: reqData,
          success: function(response) {
            $('#reviews-generate').html(response);
            $('div.rateit, span.rateit').rateit();
            $.ajax(
              {
                type: 'GET',
                url: "/food-updates",
                data: reqData,
                success: function(response) {
                  $('#reviews-box').html(response['reviews']);
                },
                error: function(err) {
                  console.log(err);
                },
              });
            document.getElementById("reviews-generate").scrollIntoView({ behavior: 'smooth', block: 'start' });
          },
          error: function(err) {
            console.log(err);
          },
        });
      });
      
      function getReactions() {
        console.log("In the getReactions function");
        let college = $('#collegeid').val();
        college = encodeURIComponent(college);
        let url = '/reactions?college=' + college;

        $.ajax(
          {
            type: 'GET',
            url: url,
            success: function(response) {
              $('#message-box').html(response);
            },
            error: function(err) {
              console.log(err);
            },
          }
        );
      }

      function longPoll() {
        console.log("In the longPoll function");
        let college = $('#collegeid').val();
        let reaction_id = $('#reactions-box').children().last().attr('id');
        college = encodeURIComponent(college);
        reaction_id = encodeURIComponent(reaction_id);
        let url = '/new-reactions?college=' + college + '&reaction_id=' + reaction_id ;

        $.ajax(
          {
            type: 'GET',
            url: url,
            success: function(response) {
              console.log(response);

              // scroll to the bottom if just clicked View Reactions
              if (firstTime) {
                firstTime = false;
                var d = $('#reactions-box');
                d.scrollTop(d.prop("scrollHeight"));
              }
              
              const out = document.getElementById("reactions-box");

              // allow 1px inaccuracy by adding 1
              const isScrolledToBottom = out.scrollHeight - out.clientHeight <= out.scrollTop + 1;

              $('#reactions-box').append(response);

              // auto scroll to bottom if the user is all the way at the bottom
              if (isScrolledToBottom) {
                out.scrollTop = out.scrollHeight - out.clientHeight;
              }
            },
            error: function(err) {
              console.log(err);
            },
            complete: longPoll
          }
        );
      }
  </script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf"
    crossorigin="anonymous"></script>
</body>

</html>
