<!DOCTYPE html>
<html>

<head>
  <title>{{entree}}</title>
  <link rel="stylesheet" href="./css/style.css" />
  <link rel="stylesheet" href="./css/header.css" />
</head>

<body>
  {% include 'header.html' %}

  {% if rows|length == 0: %}
  {% else: %}
  {% for row in rows: %}
  <div class="flex" style="margin-bottom: 100px;">
    <figure>
      <img src="{{row[0]}}">
      <p>{{row[1]}}</p>
      <p>5-Star Rating: {{row[0]}}</p>
    </figure>
  </div>

  <form action="your rating">
    <label for="quantity">Your 5-Star Rating:</label>
    <input type="number" id="quantity" name="quantity" min="1" max="5">
    <input type="submit">
  </form>

    <div class="flex-reviews-input">
    <form action="reviews" method="POST" class="reviews-form">
        <textarea rows="3" cols="30" placeholder="Enter your message here" name="review"
        style="margin-right: 1vw;"></textarea>
        <input type="submit">
        <input type="hidden" name="entree" value="{{entree}}">
        <!-- <button type="button">Submit</button> -->
    </form>
    </div>

</body>

</html>