<!DOCTYPE html>
<html>

<head>
  <title>{{entree}}</title>
  <link rel="stylesheet" href="./css/style.css" />
  <link rel="stylesheet" href="./css/header.css" />
</head>

<body>
  <div class="banner">
    <h3 class="banner-item">TigerTooth</h3>
  </div>

  {% if rows|length == 0: %}
  {% else: %}
  {% for row in rows: %}
  <div class="flex" style="margin-bottom: 100px;">
    <figure>
      <img src="https://i.imgur.com/3K27lJB.jpg">
      <p>{{row[1]}}</p>
      <p>{{row[0]}}</p>
    </figure>
  </div>
  
  <div class="panel-footer">
    <label for="input-2" class="control-label">My Rating:</label>
  <input id="stars_{{result.id}}" name="input-2" class="rating rating-loading" data-min="0" data-max="10" data-step="0.1" data-stars="10" data-size="xs"onchange="updateStars('{{result.id}}')" >
  </div>
     <form action="{{url_for('delete_f', id=result.id)}}" method="post">
          <input type="hidden" name="_method" value="DELETE">
          <input type="submit" value="Delete" class="btn btn-danger">
        </form>
  </div>
  
</body>

</html>