<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.0/jquery.validate.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}" />


  <title>Your Reviews History</title>
  <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Lato" />
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />
  <link rel="stylesheet" href="{{ url_for('static', filename='css/food.css') }}" />
  
   <script>
    $(document).ready(function(){
        function alignModal(){
            var modalDialog = $(this).find(".modal-dialog");

            // Applying the top margin on modal to align it vertically center
            modalDialog.css("margin-top", Math.max(0, ($(window).height() - modalDialog.height()) / 2));
        }
        // Align modal when it is displayed
        $(".modal").on("shown.bs.modal", alignModal);

        // Align modal when user resize the window
        $(window).on("resize", function(){
            $(".modal:visible").each(alignModal);
        });   
    });
  </script>
</head>

<body>

  <div class="container">
    <div class="row" id="history_title">
      <h3 class="text-center my-5">Your Past Food Reviews</h3>
    </div>
  </div>

  {% if reviews|length == 0: %}
  <div class="container">
    <div class="row">
      <p class="text-center my-5">You have no past reviews</p>
    </div>
  </div>
  {% else: %}

  <div class="card-group mx-5 text-center justify-content-center mb-4" id="card_group">
    {% for review in reviews: %}
    <div class="card mx-auto mx-sm-3 my-3 rounded" style="min-width: 16rem; max-width: 16rem;">
      {% if review[1] is none: %}
      <a href="/foodimg-submit?api_id={{review[3]}}&college={{review[2]}}"><img src="" alt="Submit a Photo Here!"
          class="img-fluid rounded card-img-top" style="min-height: 11rem; max-height: 11rem;"></a>
      {% else: %}
      <!-- Clicking on this link should lead to a pop up rectangular box with more info like review[5] (written review) and review[4] (rating) -->
      <div ><img src="{{review[1]}}" alt="No photo" class="img-fluid rounded card-img-top" style="min-height: 11rem; max-height: 11rem;"></div>
      {% endif %}
      <div class="card-body">
        <h5 class="card-title">
          <!-- Clicking on this link should lead to a pop up rectangular box with more info like review[4] (written review) and review[3] (rating) -->
          <p style="color: inherit;">{{review[0]}}</p>
        </h5>
        <div class="card-text">Dining Hall: {{review[2].capitalize()}}</div>
      </div>
      <div class="container mb-4">
        <div style="display: flex; align-items: center; justify-content: center">
          <button type="button" class="btn bttn rounded" style="color: #fff" data-toggle="modal" data-target="#reviews-{{loop.index}}">
            See Your Review!
          </button>
        </div>
      </div>
    </div>
    <div class = "container-fluid">
      <div class="modal fade" data-backdrop="false" id="reviews-{{loop.index}}" tabindex="-1" role="dialog" aria-labelledby="reviewsTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header" style = "text-align:center; vertical-align:middle">
              <h5 class="modal-title" id="reviewsTitle">Reviews</h5>
              <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true"></span>
              </button>
            </div>
            <div class="modal-body">
                <div class="container-fluid mt-1">
                  <div class="row">
                    <div class="col-1 col-sm-2 col-md-4"></div>
                    <div class="col-10 col-sm-8 col-md-4 pl-1 pr-1">
                      <figure>
                        <img src="{{review[1]}}" alt="Submit a Photo Here!" class="img-fluid rounded" style="height: auto; width: 100%;">
                        <figcaption style="margin-top: 10px">
                          <h3>
                            {{review[0]}}
                          </h3>
                        </figcaption>
                      </figure>
                      <p style="margin: 10px 0; font-size:20px">Dining Hall: {{review[2].capitalize()}}</p>
                      <p style="margin: 10px 0; font-size:20px">Your Rating: {{review[4]}}</p>
                      {% if review[5] is none: %}
                      {% else: %}
                        <p style="margin: 10px 0; font-size:20px">Your Review:<br>{{review[5]}}</p>
                      {% endif %}
                    </div>
                    <div class="col-1 col-sm-2 col-md-4"></div>
                  </div>
                </div> 
            </div>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
  {% endif %}
 

  
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf"
    crossorigin="anonymous"></script>
</body>

</html>
