<!DOCTYPE html>
<html>

<head>
  <title>Select Dining Hall</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />
  <link rel="stylesheet" href="{{ url_for('static', filename='css/header.css') }}" />
</head>

<body>
  <!-- <div class="banner">
    <h3 class="banner-item">TigerTooth</h3>
  </div> -->
  {% include 'header.html' %}
  <div class="dhall-header-container" style="height: 100px">
    <h3 class="dhall-header">Choose Your Dining Hall</h3>
  </div>

  <div class="flex" style="margin-bottom: 100px;">
    <figure>
      <a href="/reactions?college=wilcox"><img src="https://i.imgur.com/vBU42De.jpg"></a>
      <figcaption>
        <a href="/reactions?college=wilcox" style="color: inherit;">Wilcox</a>
      </figcaption>
    </figure>
    <figure>
      <a href="/reactions?college=forbes"><img src="https://i.imgur.com/wwcwQFZ.jpg"></a>
      <figcaption>
        <a href="/reactions?college=forbes" style="color: inherit;">Forbes</a>
      </figcaption>
    </figure>
  </div>

  <div class="flex">
    <figure>
      <a href="/reactions?college=roma"><img src="https://i.imgur.com/GjR7XRm.jpg"></a>
      <figcaption>
        <a href="/reactions?college=roma" style="color: inherit;">Rocky/Mathey</a>
      </figcaption>
    </figure>
    <figure>
      <a href="/reactions?college=whitman"><img src="https://i.imgur.com/c3T1XP3.jpg"></a>
      <figcaption>
        <a href="/reactions?college=whitman" style="color: inherit;">Whitman</a>
      </figcaption>
    </figure>
  </div>
	
  {% include 'footer.html' %}
  <footer class="page-footer">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 col-md-4 col-sm-12">
				<h6 class="text-uppercase font-weight-bold">Contact Us</h6>
				<p>7207 Frist Campus Center, Princeton, New Jersey
				<br/>dsliu@princeton.edu
				<br/>(929) 402 5376
			</div>
		</div>
	</div>
	<div class="footer-copyright text-center">© 2021 Copyright: Tiger-Tooth.com</div>
</footer>

<script src="jquery-3.3.1.min.js"></script>
<script src="bootstrap/js/bootstrap.min.js"></script>
<script src="main.js"></script>
  
</body>

</html>
