<!-- Food description portion -->
{% if food|length == 0: %}
{% else: %}
<div class="container-fluid mt-5" id="food_descrip">
  <br>
  <div class="row">
    <div class="col-1 col-sm-3 col-md-4"></div>
    <div class="col-10 col-sm-6 col-md-4 pl-1 pr-1">
      <figure>
        {% if food[0] is not none: %}
        <img src="{{food[0]}}" alt="" class="img-fluid rounded" style="height: auto; width: 100%;">
        {% endif %}
        <figcaption style="margin-top: 10px" id="rating-box">
          <h3>
            {{food[1]}}
          </h3>
          {% if food[2] == 0 %}
          <p style="margin: 10px 0; font-size: smaller;">Rating: No Rating Yet!</p>
          {% else: %}
          <p style="margin: 10px 0; font-size: smaller;">Rating: {{(food[3]/food[2])|round(1)}}</p>
          {% endif %}
        </figcaption>
      </figure>
    </div>
    <div class="col-1 col-sm-3 col-md-4"></div>
  </div>
</div>
{% endif %}

<hr />
<!-- Review Display Portion -->
<div class="container-fluid reviews_area">
  <div class="row">
    <h3 class="text-xs-center text-center" style="font-weight: 400;">Reviews</h3>
  </div>
</div>

<div class="container-fluid reviews_area">
  <div class="row" id="reviews-box">
  </div>
</div>

<br>
<hr>
<div class="container-fluid" id="submit_area">
  <div class="row">
    <form action="food-updates" method="POST" class="reviews-form" id="form1">
      <div class="controls">
        <div class="row">
          <div class="col-2 col-md-3"></div>
          <div class="col-8 col-md-6">
            <p style="font-size: 18px; text-align:center;">Submit ratings and reviews here!</p>
            <div class="rateit mb-2" data-rateit-mode="font" data-rateit-resetable="false" style="font-size:40px"
              data-rateit-step="1" id="star_rating">
            </div>
            <div class="form-group">
              <textarea name="review" class="form-control mb-4" id="reviews-text" placeholder="Leave a review here!"
                rows="3" cols="30"></textarea>
            </div>
          </div>
          <div class="col-2 col-md-3"></div>
        </div>
        <br>
        <div class="row">
          <div class="col-sm"></div>
          <div class="col-sm">
            <p id="spnError" class="error" style="display: none; margin-top: -43px">Please select a rating!</p>
          </div>
          <div class="col-sm"></div>
        </div>
        <div class="row">
          <div class="col-sm">
            <input type="submit" id="btnSubmit" class="btn btn-primary btn-send" value="Submit!">
            <input type="hidden" name="college" value="{{college}}">
            <input type="hidden" name="food_id" value="{{food_id}}">
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
<br>
<br>
