<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
  <!-- Bootstrap CSS -->
  <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous"> -->
  <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}" />

  <title>{{college}} Reactions</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />
  <link rel="stylesheet" href="{{ url_for('static', filename='css/header.css') }}" />
  <link rel="stylesheet" href="{{ url_for('static', filename='css/reactions.css') }}" />
  <link rel="stylesheet" href="{{ url_for('static', filename='css/footer.css') }}" />
  <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Lato" />
  
</head>

<body>

  {% include 'header.html' %}
  <div class="dhall-header-container" style="height: 100px">
    <h3 class="dhall-header" style="font-size:24px">Check out what people are saying!</h3>
  </div>

  <!-- This div is the box that shows all the reactions -->
  <div class="messages-container">
    {% if rows|length == 0: %}
    {% else: %}
      {% for row in rows: %}
       {% if row[0] != "" %}
          <div class="reaction-container">
          <!-- reactions -->
          <p style="font-size: 16px">{{row[0]}}</p>
          <!-- time -->
          <p style="font-size: 16px">{{row[3]}}</p> 
          </div>
        {% endif %}
      {% endfor %}
    {% endif %}
  </div>
  
  <br/>
  
  <div class="flex-reactions-input">
    <form action="reactions" method="POST" class="reactions-form">
      <textarea name="reaction" rows="3" cols="30" style:"display:block">"Enter your reaction here!"</textarea>
      <br/>
      <input type="submit">
      <input type="hidden" name="college" value="{{college}}">
    </form>
  </div>

  <br/>
  <br/>
  
  <button style="margin: auto" onclick="location.href='/food?college={{college}}'" type="button">View the Menu!</button>
  
  <br/>
  <br/>
  <br/>
  {% include 'footer.html' %}

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>
</body>

</html>
