.messages-container {
  margin: auto;
  width: 55%;
  border: 2px solid black;
  max-height: 1000px;
  overflow: auto;
}

.flex-reactions-input {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2vw;
}

.reactions-form {
  display: flex;
  align-items: center;
}

.reaction-container {
  display: flex;
  justify-content: space-between;
  margin: 1vw 1vw;
  font-size: 16px;
  font-size: 4vw;
}

button {
  color:inherit; 
  font-size:24px; 
  text-align: center; 
  width:150px;
  height: 150px;
  justify-content: center;
  display: flex;
  align-items: center;
}

textarea {
  border: 1px solid black;
  border-radius: 4px;
  padding: 12px 20px;
}
