.messages-container {
  margin: auto;
  width: 55%;
  border: 2px solid black;
  max-height: 1000px;
  overflow: auto;
}

.flex-reactions-input {
  display: flex;
  margin-top: 2vw;
  align-items: center;
  justify-content: center;
}

.reactions-form {
  align-items: center;
  justify-content: center;
  text-align: center;
}

.reaction-container {
  display: flex;
  justify-content: space-between;
  margin: 1vw 1vw;
}

::placeholder {
  text-align:center;
}

.button2 {
  color:inherit; 
  font-size:24px; 
  width:200px;
  height:75px;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items:center;
}

.button1 {
  color:inherit; 
  font-size:12px; 
  font-family: Lato;
  width:60px;
  height:30px;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items:center;
}

textarea {
  border: 1px solid black;
  border-radius: 4px;
  padding: 12px 20px;
}
