.reactions-title {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

p {
  max-width: 255px;
  word-wrap: break-word;
  margin-bottom: 12px;
  line-height: 24px;
  position: relative;
	padding: 10px 20px;
  border-radius: 25px;
  
  &:before, &:after {
    content: "";
		position: absolute;
    bottom: 0;
    height: 25px;
  }
}

.mymessage {
	color: white; 
	background: #0B93F6;
  align-self: flex-end;
		
	&:before {
		left: -7px;
    width: 20px;
    background-color: #E5E5EA;
		border-bottom-right-radius: 16px 14px;
	}

	&:after {
		left: -26px;
    width: 26px;
    background-color: white;
		border-bottom-right-radius: 10px;
	}
}

.message {
	background: #E5E5EA;
	color: black;
  align-self: flex-start;
		
	&:before {
		left: -7px;
    width: 20px;
    background-color: #E5E5EA;
		border-bottom-right-radius: 16px 14px;
	}

	&:after {
		left: -26px;
    width: 26px;
    background-color: white;
		border-bottom-right-radius: 10px;
	}
}

.messages-container {
  margin: auto;
  width: 55%;
  border: 2px solid black;
  max-height: 1000px;
  overflow: auto;
}

.flex-reactions-input {
  display: flex;
  margin-top: 2vw;
  align-items: center;
  justify-content: center;
}

.reactions-form {
  align-items: center;
  justify-content: center;
  text-align: center;
}

.messages-form {
  align-items: center;
  justify-content: center;
  text-align: center;
}

.reaction-container {
  display: flex;
  justify-content: space-between;
  margin: 1vw 1vw;
}

::placeholder {
  text-align:center;
}

.button2 {
  color:inherit; 
  font-size:24px; 
  width:200px;
  height:75px;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items:center;
}

.button1 {
  color:inherit; 
  font-size:12px; 
  font-family: Lato;
  width:60px;
  height:30px;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items:center;
}

textarea {
  border: 1px solid black;
  border-radius: 4px;
  padding: 12px 20px;
}
