.flex-reviews-input {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2vw;
}

.reviews-form {
  align-items: center;
  justify-content: center;
  text-align: center;
}

input[type="number"] {
  padding: 12px 20px;
  margin: 8px 0;
  border: 1px solid black;
  border-radius: 4px;
}

textarea {
  border: 1px solid black;
  border-radius: 4px;
  padding: 12px 20px;
}

.error {
  color: red;
  font-size: 1rem;
  border: 2px solid red;
  border-radius: 4px;
  line-height: 1;
  padding: 2px 0 6px 6px;
  background: #ffe6eb;
}

#food_descrip {
  animation-duration: 1s;
  animation-name: fadein;
}

.reviews_area {
  animation-duration: 1.2s;
  animation-name: fadein;
}

#submit_area {
  animation-duration: 1.4s;
  animation-name: fadein;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
