.reviews-title {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

.flex-food-desc {
  display: flex;
  justify-content: center;
}

.reviews-container {
  margin: auto;
  width: 55%;
  border: 2px solid black;
  max-height: 200px;
  overflow: auto;
}

.flex-reviews-input {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2vw;
}

.reviews-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.review-container {
  display: flex;
  justify-content: space-between;
  margin: 1vw 1vw;
}

input[type="number"] {
  padding: 12px 20px;
  margin: 8px 0;
  border: 1px solid black;
  border-radius: 4px;
}

textarea {
  border: 1px solid black;
  border-radius: 4px;
  padding: 12px 20px;
}
